@using Microsoft.AspNetCore.Http;
@model Geonorge.MinSide.Infrastructure.Context.Meeting

@{
    ViewData["Title"] = "Rediger møte";
}
<div class="container">
    <h2>Rediger møte</h2>
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input asp-for="OrganizationNumber" type="hidden" value="@Context.Session.GetString("OrganizationNumber")" class="form-control" />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    @{var Types = new SelectList(CodeList.MeetingTypes, "Key", "Value", Model.Type);}
                    <select name="Type" class="form-control" asp-items="Types"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        Valgte dokumenter:<br />
                        @foreach (var file in Model.Documents)
                        {
                            <span>@file.Name</span> <span>| Slett</span><br />
                        }
                    </div>
                    <label for="Documents">Legg til flere dokumenter:</label>
                    <input asp-for="Documents" name="files" type="file" multiple>
                    <span asp-validation-for="Documents"></span>
                </div>
                <div><p></p><a href="/ToDo/Index?meetingId=@Model.Id">Oppfølgingspunkter</a><p></p></div>
                <div class="form-group">
                    <label asp-for="Conclusion" class="control-label"></label>
                    <textarea asp-for="Conclusion" class="form-control"></textarea>
                    <span asp-validation-for="Conclusion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Delete" class="btn no-margin-bottom show-loading-animation" asp-route-id="@Model.Id"><i class="fas fa-trash"></i>Slett</a>
                    <input type="submit" value="Lagre" class="btn no-margin-bottom show-loading-animation" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Tilbake</a>
    </div>
</div>

