.main-header,
.view-header {
    background-color: #f8f8f7;
}

.view-header {
    margin-bottom: 20px;
}

    .view-header .view-title {
        font-size: 38pt;
        margin-bottom: 20px;
        padding: 0;
    }

.section {
    margin-bottom: 40px;
}

    .section .section-title {
        margin-top: 0;
        color: #333;
        font-size: 20pt;
    }

.contact-info {
    font-size: 14pt;
}

.list {
    margin-bottom: 10px;
}

    .list .list-header {
        font-size: 16pt;
    }

    .list .list-content {
        -moz-transition: all .35s linear 0s;
        -o-transition: all .35s linear 0s;
        -webkit-transition: all .35s linear 0s;
        transition: all .35s linear 0s;
    }

        .list .list-content.loading-data {
            opacity: .25;
        }

    .list .list-item {
        font-size: 13pt;
        padding: 6px 0;
    }

        .list .list-item:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

.icon-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    color: #3867c8;
}

.add-more-button {
    font-size: 20px;
    color: #fe5000;
    border: 2px solid #fe5000;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    -moz-transition: all .35s linear 0s;
    -o-transition: all .35s linear 0s;
    -webkit-transition: all .35s linear 0s;
    transition: all .35s linear 0s;
}

    .add-more-button:hover {
        background-color: #fe5000;
        color: #fff;
    }

    .add-more-button:focus {
        outline: none;
    }

.data-search-filter-container {
}

    .data-search-filter-container .data-search-filter {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        width: 100%;
        font-size: 16pt;
        margin-bottom: 10px;
    }

    .data-search-filter-container img {
        float: right;
        position: relative;
        bottom: 60px;
        right: 16px;
    }

.container-footer ul li,
aside ul li,
.expand-arrow {
    background-image: url(/dist/images/svg/arrow-right.svg);
}

    .container-footer ul li.active,
    aside ul li.active,
    .expand-arrow.active {
        background-image: url(/dist/images/svg/arrow-down.svg);
    }

.container-breadcrumbs ul > li {
    background-image: url(/dist/images/svg/breadcrumb-arrow.svg);
}

.loading-animation:before {
    content: url(/dist/images/gif/loading.gif);
}
.nav {
    padding-bottom: 7px;
    margin-top: 10px;
}
.nav > li > a {
    padding: 10px 20px;
    margin-right: 5px;
}
.nav > li.active > a {
    background-color: white;
}
.nav > li.active > a {
    color: black;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    font-weight: 600;
}
.table .thead-light th {
    background-color: #f5f5f5;
}
i {
    margin-right: 5px;
}
.container article h3 > a, .container h3 {
    font-weight: 400;
}
.list-group-item :first-child >  div.col-12 {    
    margin-bottom: 10px;
}
.form-layout label, .labelform label  {
    display: inline-block;
    font-weight: 600;
    margin: 0;
}
strong {
    font-weight: 600;
}
.labelform {
    padding: 10px 0;
}
.form-layout label.not-bold {
    font-weight: normal;
}
.form-layout {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;    
    padding-left: 30px;
}
.form-layout textarea {
    min-height: auto;
}
.form-layout::before,.resultItemRow::before {
    font-family: 'Font awesome 5 free';
    position: absolute;
    left: 5px;
    font-size: 30px;
}

.form-layout.doing::before,.resultItemRow.doing::before  {
    content: '\f017';
    color: orange

}
.form-layout.waiting::before,.resultItemRow.waiting::before {
    content: '\f254';
    color: red

}
.form-layout.todo::before,.resultItemRow.todo::before {
    content: '\f044';

}
.form-layout.done::before,.resultItemRow.done::before {
    content: '\f058';
    color: green
}
.form-layout input[type="submit"] {
    margin-top: 10px;
}
.form-layout {
    padding-left: 30px;
}
.form-layout.done,.resultItemRow.done {
    background-color: rgba(0,128,0, 0.1);
}
.form-layout.waiting,.resultItemRow.waiting {
    background-color: rgba(128, 0, 0, 0.1);
}
.form-layout.doing,.resultItemRow.doing {
    background-color: rgba(250, 171, 1, 0.1);
}
.form-layout.todo,.resultItemRow.todo {
    background-color: rgba(1, 121, 250, 0.1);
}
.form-layout label {
    white-space: nowrap;
}
.form-layout .datepicker input {
    max-width: 120px;
}
.resultItemRow {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.form-control.inline {
    display: inline;
    width: auto;
}
.vis-status {
    margin: 10px 0;
    display: block;
    
}
.resultItemRow {
    PADDING: 10PX 10px 10px 50px;
    margin-bottom: 5px;
}
table > tbody > tr > td:last-child {
    white-space: nowrap;
}
.btn-group {
    margin-top: 10px;
}
.btn-group > .btn {
    margin: 10px;
}
.prossess {
    padding: 5px;
    border-radius: 4px;
    background: rgba(255, 0, 0, 0.30);
}
.godkjent {
    padding: 5px;
    border-radius: 4px;
    background: rgba(34, 216, 49, 0.3);
}
.kandidat {
    padding: 5px;
    border-radius: 4px;
    background: rgba(221, 191, 7, 0.3)
}
.list-item > .row > div:last-child {
    white-space:nowrap;
}
.infotext {
    margin: 20px 0;
}