.main-header,
.view-header {
    background-color: #f8f8f7;
}

.view-header {
    margin-bottom: 20px;
}

    .view-header .view-title {
        font-size: 38pt;
        margin-bottom: 20px;
        padding: 0;
    }

.section {
    margin-bottom: 40px;
}

    .section .section-title {
        margin-top: 0;
        color: #333;
        font-size: 20pt;
    }

.contact-info {
    font-size: 14pt;
}

.list {
    margin-bottom: 10px;
}

    .list .list-header {
        font-size: 16pt;
    }

    .list .list-content {
        -moz-transition: all .35s linear 0s;
        -o-transition: all .35s linear 0s;
        -webkit-transition: all .35s linear 0s;
        transition: all .35s linear 0s;
    }

        .list .list-content.loading-data {
            opacity: .25;
        }

    .list .list-item {
        font-size: 13pt;
        padding: 6px 0;
    }

        .list .list-item:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

.icon-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    color: #3867c8;
}

.add-more-button {
    font-size: 20px;
    color: #fe5000;
    border: 2px solid #fe5000;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    -moz-transition: all .35s linear 0s;
    -o-transition: all .35s linear 0s;
    -webkit-transition: all .35s linear 0s;
    transition: all .35s linear 0s;
}

    .add-more-button:hover {
        background-color: #fe5000;
        color: #fff;
    }

    .add-more-button:focus {
        outline: none;
    }

.data-search-filter-container {
}

    .data-search-filter-container .data-search-filter {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        width: 100%;
        font-size: 16pt;
        margin-bottom: 10px;
    }

    .data-search-filter-container img {
        float: right;
        position: relative;
        bottom: 60px;
        right: 16px;
    }

.container-footer ul li,
aside ul li,
.expand-arrow {
    background-image: url(/dist/images/svg/arrow-right.svg);
}

    .container-footer ul li.active,
    aside ul li.active,
    .expand-arrow.active {
        background-image: url(/dist/images/svg/arrow-down.svg);
    }

.container-breadcrumbs ul > li {
    background-image: url(/dist/images/svg/breadcrumb-arrow.svg);
}

.loading-animation:before {
    content: url(/dist/images/gif/loading.gif);
}
