@inject ApplicationSettings AppSettings
@{ ViewData["Title"] = "Min side";
    ViewData["Environment"] = !string.IsNullOrEmpty(AppSettings.EnvironmentName) ? AppSettings.EnvironmentName.ToLower() + "." : "";
}
<div id="app">
    <div class="view-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1 class="view-title">{{ ViewTitle }} - {{ getTranslatedOrganizationName() }}</h1>
                </div>
                <div class="col-sm-3">
                    <span class="pull-right">Orgnr. {{ OrganizationNumber }}</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section" is="organization-data"></div>
        <div class="data-search-filter-container">
            <input v-model="searchInput" v-bind:placeholder="getSearchInputPlaceholder()" class="data-search-filter" />
            <img src="/dist/images/search_icon-01.svg" alt="search">
        </div>
        <div class="section" is="metadata" v-bind:load-all-api-data="loadAllApiData"></div>
        <div class="section" is="product-fact-sheets" v-bind:load-all-api-data="loadAllApiData"></div>
        <div class="section" is="cartography" v-bind:load-all-api-data="loadAllApiData"></div>
        <div class="section" is="product-specifications" v-bind:load-all-api-data="loadAllApiData"></div>
        <div class="section" is="report-measurment" v-bind:load-all-api-data="loadAllApiData"></div>
        <a href="https://rapportgenerator.@ViewData["Environment"]geonorge.no/statistics?organization=@ViewData["OrganizationName"]" target="_blank">Statistikk</a>
        <a href="https://register.@ViewData["Environment"]geonorge.no/kartografi/Files/index?text=@ViewData["OrganizationName"]" target="_blank">Kartografi</a><br />
        <a href="http://register.@ViewData["Environment"]geonorge.no/produktark?filterOrganization=@ViewData["OrganizationName"]" target="_blank">Produktark</a><br />
        <a href="http://register.@ViewData["Environment"]geonorge.no/produktspesifikasjoner?filterOrganization=@ViewData["OrganizationName"]" target="_blank">Produktspesifikasjoner</a><br />
        <a href="http://kartkatalog.@ViewData["Environment"]geonorge.no/search?Facets%5B0%5D.name=organization&Facets%5B0%5D.value=@ViewData["OrganizationName"]" target="_blank">Metadata</a><br />
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_OrganizationData.cshtml")
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_Metadata.cshtml")
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_ProductFactSheets.cshtml")
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_Cartography.cshtml")
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_ProductSpecifications.cshtml")
    @await Html.PartialAsync("~/Views/Shared/VueComponents/_ReportMeasurment.cshtml")

    <script>
        var app = new Vue({
            el: '#app',
            components: {
                OrganizationData: OrganizationData,
                Metadata: Metadata,
                ProductFactSheets: ProductFactSheets,
                Cartography: Cartography,
                ProductSpecifications: ProductSpecifications,
                ReportMeasurment: ReportMeasurment
            },
            data: function() {
                return {
                    OrganizationNumber: '@ViewData["OrganizationOrgnr"]',
                    OrganizationName: '@Html.Raw(ViewData["OrganizationName"])',
                    translatedOrganizationName: null,
                    Environment: '@ViewData["Environment"]',
                    ViewTitle: '@ViewData["title"]',
                    activeLanguage: this.getActiveLanguage(),
                    searchInput: '',
                    searchInputPlaceholder: {
                        en: 'Search your data',
                        no: 'Søk i dine data her'
                    },
                    loadAllApiData: false
                }
            },
            methods: {
                getApiData: function (url) {
                    return axios.get(url, { headers: { 'Accept-Language': this.activeLanguage } })
                        .then(response => { return response.data; })
                        .catch(error => { throw error; });
                },
                getActiveLanguage: function () {
                    return Cookies.get('_culture') ? Cookies.get('_culture') : 'no';

                },
                getSearchInputPlaceholder: function () {
                    return this.searchInputPlaceholder[this.activeLanguage];
                },
                getTranslatedOrganizationName: function () {
                    return this.translatedOrganizationName ? this.translatedOrganizationName : this.OrganizationName;
                }
            },
            watch: {
                searchInput: function (value) {
                    if (value) {
                        this.loadAllApiData = true;
                    }
                }
            }
        })
    </script>
}
