
@{
    ViewData["Title"] = "Min side logg inn";
}
<div id="app">
    <div class="container">
        <h3>Velkommen til min side på geonorge.no</h3>
        <p>Min side er en administrasjonsmodul for dataprodusenter og -leverandører som har avtale med Kartverket om distribusjon av deres data gjennom Geonorge.</p>
        <p>På min side kan etater og andre administrere og holde oversikt over sine:<br />
        <ul>
            <li>Metadataoppføringer, dokumenter, statistikk og kodelister.</li>
            <li>
                Avtaler som foreligger med Kartverket. På min side kan du se gjeldene avtaler, utløpte avtaler og forslag til nye avtaler.
            </li>
            <li>Møter mellom etaten og Kartverket, og oppfølgingspunkter fra disse.</li>
        </ul>
        </p>
        <h4>Tilgang</h4>
        <p>
            <a href="~/login">Logg inn</a> med GeoID for å bruke til Min side.<br />
            Har du ikke brukernavn og/eller passord? Les mer på siden <a href="https://www.geonorge.no/kartdata/tilgang-og-passord/" target="_blank">Tilgang og passord</a>.
        </p>
        <h4>Hjelp</h4>
        <p>Trenger du hjelp eller har spørsmål til Min side? Kontakt oss gjerne på <a href="mailto:post@norgedigitalt.no">post@norgedigitalt.no</a></p>
    </div>
</div>
