<script type="text/x-template" id="cartography-template">
    <div>
        <div v-if="items" class="list">
            <h3 class="section-title">Kartografi ({{items.Total}})</h3>
            <div class="list-header hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-4">
                        Tittel
                    </div>
                    <div class="col-md-3">
                        Sist Oppdatert
                    </div>
                    <div class="col-md-2">
                        Tema
                    </div>
                    <div class="col-md-2">
                        Status
                    </div>
                </div>
            </div>
            <div class="list-content">
                <div v-for="item in items.Files" class="list-item">
                    <div class="row">
                        <div class="col-md-4">
                            <a v-bind:href="item.FileUrl" v-bind:title="'Vis detaljer for ' + item.Name">{{item.Name}}</a>
                        </div>
                        <div class="col-md-3">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Sist oppdatert:</span>
                            {{ formatDate(item.DateChanged) }}
                        </div>
                        <div class="col-md-2">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Tema:</span>
                            {{ item.Theme }}
                        </div>
                        <div class="col-md-2">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Status:</span>
                            {{ item.Status }}
                        </div>
                        <div class="col-md-1">
                            <a v-bind:href="item.FileUrl" class="hidden-xs hidden-sm fa fa-download icon-button pull-right"></a>
                            <button class="visible-xs visible-sm btn pull-right">Last ned <span class="fa fa-download"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button v-show="moreItemsAvailable" v-on:click="getItems()" class="fa fa-plus icon-button add-more-button"></button>
            </div>
        </div>
    </div>
</script>

<script>
    var Cartography = {
        name: "Cartography",
        template: "#cartography-template",
        data: function () {
            return {
                items: null,
                numberOfVisibleItems: 0
            }
        },
        computed: {
            moreItemsAvailable: function () {
                return this.items && this.items.Total > this.numberOfVisibleItems;
            }
        },
        methods: {
            getItems: function () {
                var itemsPerRequest = 10;
                var offsetParameter = this.numberOfVisibleItems ? "&offset=" + this.numberOfVisibleItems : "";
                var organizationNameParameter = '?owner=' + this.$root.OrganizationName;
                var environmentParameter = this.$root.Environment;
                Promise.resolve(this.$root.getApiData("https://register." + environmentParameter + "geonorge.no/kartografi/api/cartography" + organizationNameParameter + "&limit=" + itemsPerRequest + offsetParameter))
                    .then((apiData) => {
                        if (this.items) {
                            this.items.Files = this.items.Files.concat(apiData.Files);
                        } else {
                            this.items = apiData;
                        }
                        this.numberOfVisibleItems += itemsPerRequest;
                    });
            },
            formatDate: function (date) {
                if (date) {
                    return moment(date).format('DD.MM.YYYY');
                }
            }
        },
        mounted: function () {
            this.getItems();
        }
    };
</script>
