<script type="text/x-template" id="metadata-template">
    <div>
        <div v-if="items && items.Results" class="list">
            <h3 class="section-title">Metadata ({{items.NumFound}})</h3>
            <div class="list-header hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-4">
                        Tittel
                    </div>
                    <div class="col-md-3">
                        Sist oppdatert
                    </div>
                    <div class="col-md-3">
                        Type
                    </div>
                </div>
            </div>
            <div class="list-content">
                <div v-for="item in items.Results" class="list-item">
                    <div class="row">
                        <div class="col-md-4">
                            <a v-bind:href="item.ShowDetailsUrl" v-bind:title="'Vis detaljer for ' + item.Title">{{item.Title}}</a>
                        </div>
                        <div class="col-md-3">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Sist oppdatert:</span>
                            {{ formatDate(item.Date) }}
                        </div>
                        <div class="col-md-3">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Type:</span>
                            {{ getTypeName(item.Type) }}
                        </div>
                        <div class="col-md-2">
                            <button class="hidden-xs hidden-sm fa fa-edit icon-button pull-right"></button>
                            <button class="visible-xs visible-sm btn pull-right">Rediger <span class="fa fa-edit"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button v-show="moreItemsAvailable" v-on:click="getItems()" class="fa fa-plus icon-button add-more-button"></button>
            </div>
        </div>
    </div>
</script>

<script>
    var Metadata = {
        name: "Metadata",
        template: "#metadata-template",
        data: function () {
            return {
                items: null,
                numberOfVisibleItems: 0,
                typeNames: {
                    dataset: {
                        en: "Dataset",
                        no: "Datasett"
                    },
                    service: {
                        en: "Service",
                        no: "Tjeneste"
                    },
                    servicelayer: {
                        en: "Service layer",
                        no: "Tjenestelag"
                    },
                    software: {
                        en: "Software",
                        no: "Applikasjon"
                    },
                    dimensionGroup: {
                        en: "Dimension group",
                        no: "Datapakke"
                    }
                }
            }
        },
        computed: {
            moreItemsAvailable: function () {
                return this.items && this.items.NumFound > this.numberOfVisibleItems;
            }
        },
        methods: {
            getItems: function () {
                var itemsPerRequest = 10;
                var offsetParameter = this.numberOfVisibleItems ? "&offset=" + this.numberOfVisibleItems : "";
                var organizationNameParameter = '?facets%5b0%5dname=organization&facets%5b0%5dvalue=' + this.$root.OrganizationName;
                var environmentParameter = this.$root.Environment;
                Promise.resolve(this.$root.getApiData("https://kartkatalog." + environmentParameter + "geonorge.no/api/search" + organizationNameParameter + "&limit=" + itemsPerRequest + offsetParameter))
                    .then((apiData) => {
                        if (this.items) {
                            this.items.Results = this.items.Results.concat(apiData.Results);
                        } else {
                            this.items = apiData;
                        }
                        this.numberOfVisibleItems += itemsPerRequest;
                    });
            },
            formatDate: function (date) {
                if (date) {
                    return moment(date).format('DD.MM.YYYY');
                }
            },
            getTypeName: function (type) {
                var activeLanguage = this.$root.activeLanguage;
                if (this.typeNames[type] && this.typeNames[type][activeLanguage]) {
                    return this.typeNames[type][activeLanguage];
                } else {
                    return type;
                }
            }
        },
        mounted: function () {
            this.getItems();
        }
    };
</script>
