<script type="text/x-template" id="metadata-template">
    <div>
        <div v-if="items && visibleItems.length" class="list">
            <h3 v-on:click="expanded = !expanded" class="section-title clickable">
                <span class="expand-arrow clickable" style="vertical-align: middle;" v-bind:class="{active: expanded}"></span>
                Metadata ({{ filteredItems.length }})
            </h3>
            <h6 class="tooManyHits" v-show="tooManyHits">For mange treff ({{ filteredItems.length }}). Prøv å begrense søket.</h6>
            <div v-show="expanded && !tooManyHits">
                <div class="list-header d-none d-md-block">
                    <div class="row">
                        <div class="col-md-6">
                            Tittel
                        </div>
                        <div class="col-md-2">
                            Type
                        </div>
                        <div class="col-md-3">
                            Sist oppdatert
                        </div>
                    </div>
                </div>
                <div class="list-content" v-bind:class="{'loading-data': loadingData}">
                    <div v-for="item in visibleItems" class="list-item">
                        <div class="row">
                            <div class="col-md-6">
                                <a v-bind:href="item.ShowDetailsUrl" v-bind:title="'Vis detaljer for ' + item.Title" target="_blank">{{item.Title}}</a>
                            </div>
                            <div class="col-md-2">
                                <span class="d-inline-block d-md-none">Type:</span>
                                {{ getTypeName(item.Type) }}
                            </div>
                            <div class="col-md-3">
                                <span class="d-inline-block d-md-none">Sist oppdatert:</span>
                                {{ formatDate(item.Date) }}
                            </div>
                            <div class="col-md-1">
                                <a v-bind:href="getEditLink(item)" class="d-none d-md-block fa fa-edit icon-button float-right"></a>
                                <a v-bind:href="getEditLink(item)" class="d-block d-md-none btn float-right">Rediger <span class="fa fa-edit"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button v-show="moreItemsAvailable" v-on:click="showMoreItems()" class="icon-button add-more-button" v-bind:class="loadingData ? 'fas fa-spinner fa-pulse' : 'fa fa-plus'"></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var Metadata = {
        name: "Metadata",
        template: "#metadata-template",
        data: function () {
            return {
                loadingData: false,
                expanded: true,
                items: null,
                filteredItems: [],
                visibleItems: [],
                visibleItemsCount: this.$root.VISIBLE_ITEMS,
                tooManyHits: false,
                filterProperties: [
                    'Title',
                ],
                typeNames: {
                    dataset: {
                        en: "Dataset",
                        no: "Datasett"
                    },
                    service: {
                        en: "Service",
                        no: "Tjeneste"
                    },
                    servicelayer: {
                        en: "Service layer",
                        no: "Tjenestelag"
                    },
                    software: {
                        en: "Software",
                        no: "Applikasjon"
                    },
                    dimensionGroup: {
                        en: "Dimension group",
                        no: "Datapakke"
                    }
                }
            }
        },
        computed: {
            moreItemsAvailable: function () {
                return this.items && this.filteredItems.length > this.visibleItems.length;
            }
        },
        methods: {
            getItems: function () {
                var environmentParameter = this.$root.Environment;
                var organizationNameParameter = '?facets%5b0%5dname=organization&facets%5b0%5dvalue=' + this.$root.OrganizationName;
                var orderParameter = "&orderby=updated";
                var apiURL = "https://kartkatalog." + environmentParameter + "geonorge.no/api/search" + organizationNameParameter + "&limit=" + this.$root.LIMIT_MAX_VALUE + orderParameter;

                this.loadingData = true;

                return Promise.resolve(this.$root.getApiData(apiURL))
                    .then((apiData) => {
                        this.items = apiData;
                        this.loadingData = false;
                    });
            },

            filterItems: function (searchText) {
                this.filteredItems = this.items.Results.filter(item => {
                    return this.filterProperties.some(filterProperty => {
                        return item[filterProperty].toUpperCase().indexOf(searchText.toUpperCase()) > -1;
                    });
                });
            },

            showMoreItems: function () {
                this.visibleItems = this.filteredItems.slice(0, this.visibleItems.length + this.$root.VISIBLE_ITEMS);
                this.visibleItemsCount = this.visibleItems.length;
            },

            formatDate: function (date) {
                return date ? moment(date).format('DD.MM.YYYY') : undefined;
            },

            getTypeName: function (type) {
                var activeLanguage = this.$root.activeLanguage;
                if (this.typeNames[type] && this.typeNames[type][activeLanguage]) {
                    return this.typeNames[type][activeLanguage];
                } else {
                    return type;
                }
            },

            getEditLink: function (item) {
                var environmentParameter = this.$root.Environment;
                var uuidParameter = "?uuid=" + item.Uuid;
                return "https://editor." + environmentParameter + "geonorge.no/Metadata/Edit" + uuidParameter;
            }
        },
        mounted: function () {
            this.getItems()
                .then(() => {
                    this.filteredItems = this.items.Results;
                    this.visibleItems = this.filteredItems.slice(0, this.$root.VISIBLE_ITEMS);
                });
        },
        watch: {
            '$root.searchText': function () {
                var searchText = this.$root.searchText.trim();
                this.filterItems(searchText);
                this.tooManyHits = false;

                if (searchText === '') {
                    this.visibleItems = this.items.Results.slice(0, this.visibleItemsCount);
                    return;
                }

                this.tooManyHits = this.filteredItems.length > this.$root.MAX_HITS;

                if (!this.tooManyHits) {
                    this.visibleItems = this.filteredItems;
                }
            }
        }
    };
</script>
