<script type="text/x-template" id="product-specifications-template">
    <div>
        <div v-if="items && items.containeditems" class="list">
            <h3 class="section-title">{{items.label}} ({{items.ContainedItemsResult.Total}})</h3>
            <div class="list-header hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-6">
                        Tittel
                    </div>
                    <div class="col-md-2">
                        Status
                    </div>
                    <div class="col-md-3">
                        Sist Oppdatert
                    </div>
                </div>
            </div>
            <div class="list-content">
                <div v-for="item in items.containeditems" class="list-item">
                    <div class="row">
                        <div class="col-md-6">
                            <a v-bind:href="item.id" v-bind:title="'Vis detaljer for ' + item.label">{{item.label}}</a>
                        </div>
                        <div class="col-md-2">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Status:</span>
                            {{ item.status }}
                        </div>
                        <div class="col-md-3">
                            <span class="visible-xs-inline-block visible-sm-inline-block">Sist oppdatert:</span>
                            {{ formatDate(item.lastUpdated) }}
                        </div>
                        <div class="col-md-1">
                            <a v-bind:href="item.documentreference" class="hidden-xs hidden-sm fa fa-download icon-button pull-right"></a>
                            <a v-bind:href="item.documentreference" class="visible-xs visible-sm btn pull-right">Last ned <span class="fa fa-download"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button v-show="moreItemsAvailable" v-on:click="getItems()" class="fa fa-plus icon-button add-more-button"></button>
            </div>
        </div>
    </div>
</script>

<script>
    var ProductSpecifications = {
        name: "ProductSpecifications",
        template: "#product-specifications-template",
        data: function () {
            return {
                items: null,
                numberOfVisibleItems: 0
            }
        },
        computed: {
            moreItemsAvailable: function () {
                return this.items && this.items.ContainedItemsResult.Total > this.numberOfVisibleItems;
            }
        },
        methods: {
            getItems: function () {
                var itemsPerRequest = 10;
                var offsetParameter = this.numberOfVisibleItems ? "&offset=" + this.numberOfVisibleItems : "";
                var organizationNameParameter = '?filterOrganization=' + this.$root.OrganizationNumber;
                var environmentParameter = this.$root.Environment;
                Promise.resolve(this.$root.getApiData("https://register." + environmentParameter + "geonorge.no/api/produktspesifikasjoner" + organizationNameParameter + "&limit=" + itemsPerRequest + offsetParameter))
                    .then((apiData) => {
                        if (this.items) {
                            this.items.containeditems = this.items.containeditems.concat(apiData.containeditems);
                        } else {
                            this.items = apiData;
                        }
                        this.numberOfVisibleItems += itemsPerRequest;
                    });
            },
            formatDate: function (date) {
                if (date) {
                    return moment(date).format('DD.MM.YYYY');
                }
            }
        },
        mounted: function () {
            this.getItems();
        }
    };
</script>
