<script type="text/x-template" id="product-fact-sheets-template">
    <div>
        <div v-if="items && filteredItems.length" class="list">
            <h3 class="section-title">{{items.label}} ({{ getCounter() }})</h3>
            <div class="list-header d-none d-md-block">
                <div class="row">
                    <div class="col-md-6">
                        Tittel
                    </div>
                    <div class="col-md-2">
                        Status
                    </div>
                    <div class="col-md-3">
                        Sist Oppdatert
                    </div>
                </div>
            </div>
            <div class="list-content">
                <div v-for="item in filteredItems" class="list-item">
                    <div class="row">
                        <div class="col-md-6">
                            <a v-bind:href="item.id" v-bind:title="'Vis detaljer for ' + item.label">{{item.label}}</a>
                        </div>
                        <div class="col-md-2">
                            <span class="d-inline-block d-md-none">Status:</span>
                            {{ item.status }}
                        </div>
                        <div class="col-md-3">
                            <span class="d-inline-block d-md-none">Sist oppdatert:</span>
                            {{ formatDate(item.lastUpdated) }}
                        </div>
                        <div class="col-md-1">
                            <a v-bind:href="item.documentreference" class="d-none d-md-block fa fa-download icon-button float-right"></a>
                            <a v-bind:href="item.documentreference" class="d-block d-md-none btn float-right">Last ned <span class="fa fa-download"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button v-show="moreItemsAvailable" v-on:click="getItems()" class="fa fa-plus icon-button add-more-button"></button>
            </div>
        </div>
    </div>
</script>

<script>
    var ProductFactSheets = {
        name: "ProductFactSheets",
        template: "#product-fact-sheets-template",
        props: ['loadAllApiData'],
        data: function () {
            return {
                items: null,
                numberOfVisibleItems: 0,
                filterProperties: [
                    'label',
                ]
            }
        },
        computed: {
            moreItemsAvailable: function () {
                if (this.loadAllApiData) {
                    return false;
                } else {
                    return this.items && this.items.ContainedItemsResult.Total > this.numberOfVisibleItems;
                }
            },
            filteredItems: function () {
                var filteredItems = [];
                if (this.loadAllApiData && this.$root.searchInput) {
                    this.items.containeditems.forEach(function (item) {
                        var itemHasMatch = false;
                        this.filterProperties.forEach(function (filterProperty) {
                            if (item[filterProperty].toUpperCase().indexOf(this.$root.searchInput.toUpperCase()) > -1) {
                                itemHasMatch = true;
                            }
                        }.bind(this));
                        if (itemHasMatch) {
                            filteredItems.push(item);
                        }
                    }.bind(this))
                } else {
                    filteredItems = this.items.containeditems;
                }
                return filteredItems;
            }
        },
        methods: {
            getItems: function () {
                var itemsPerRequest = 10;
                var offsetParameter = this.numberOfVisibleItems ? "&offset=" + this.numberOfVisibleItems : "";
                var organizationNameParameter = '?filterOrganization=' + this.$root.OrganizationNumber;
                var environmentParameter = this.$root.Environment;

                var apiURL = this.loadAllApiData
                    ? "https://register." + environmentParameter + "geonorge.no/api/produktark" + organizationNameParameter
                    : "https://register." + environmentParameter + "geonorge.no/api/produktark" + organizationNameParameter + "&limit=" + itemsPerRequest + offsetParameter;

                Promise.resolve(this.$root.getApiData(apiURL))
                    .then((apiData) => {
                        if (!this.items || this.loadAllApiData) {
                            this.items = apiData;
                        } else {
                            this.items.containeditems = this.items.containeditems.concat(apiData.containeditems);
                        }
                        this.numberOfVisibleItems += itemsPerRequest;
                    });
            },
            formatDate: function (date) {
                if (date) {
                    return moment(date).format('DD.MM.YYYY');
                }
            },
            getCounter: function () {
                return this.loadAllApiData && this.$root.searchInput ? this.filteredItems.length : this.items.ContainedItemsResult.Total;
            }
        },
        mounted: function () {
            this.getItems();
        },
        watch: {
            loadAllApiData: function () {
                this.getItems();
            }
        }
    };
</script>
