<script type="text/x-template" id="service-notifications-template">
    <div>
        <div v-if="items && filteredItems.length" class="list">
            <h3 v-on:click="expanded = !expanded" class="section-title clickable">
                <span class="expand-arrow clickable" style="vertical-align: middle;" v-bind:class="{active: expanded}"></span>
                Varsler ({{ getCounter() }})
            </h3>
            <div v-show="expanded">
                <div class="list-header d-none d-md-block">
                    <div class="row">
                        <div class="col-md-3">
                            Tittel
                        </div>
                        <div class="col-md-3">
                            Varseltype
                        </div>
                        <div class="col-md-3">
                            Siste
                        </div>
                        <div class="col-md-3">
                            Ikrafttredelse
                        </div>
                    </div>
                </div>
                <div class="list-content" v-bind:class="{'loading-data': loadingData}">
                    <div v-for="item in filteredItems" class="list-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a v-bind:href="item.id" v-bind:title="'Vis detaljer for ' + item.label">{{item.label}}</a>
                            </div>
                            <div class="col-md-3">
                                {{item.AlertCategory}}
                            </div>
                            <div class="col-md-3">
                                <span class="d-inline-block d-md-none">Varseldato</span>
                                {{ formatDate(item.AlertDate) }}
                            </div>
                            <div class="col-md-3">
                                <span class="d-inline-block d-md-none">Ikrafttredelse:</span>
                                {{ formatDate(item.EffectiveDate) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button v-show="moreItemsAvailable" v-on:click="getItems()" class="icon-button add-more-button" v-bind:class="loadingData ? 'fas fa-spinner fa-pulse' : 'fa fa-plus'"></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var ServiceNotifications = {
        name: "ServiceNotifications",
        template: "#service-notifications-template",
        props: ['loadAllApiData'],
        data: function () {
            return {
                loadingData: false,
                expanded: true,
                items: null,
                numberOfVisibleItems: 0,
                filterProperties: [
                    'label'
                ]
            }
        },
        computed: {
            moreItemsAvailable: function () {
                if (this.loadAllApiData) {
                    return false;
                } else {
                    return this.items && this.items.ContainedItemsResult.Total > this.numberOfVisibleItems;
                }
            },
            filteredItems: function () {
                var filteredItems = [];
                if (this.loadAllApiData && this.$root.searchInput) {
                    this.items.containeditems.forEach(function (item) {
                        var itemHasMatch = false;
                        this.filterProperties.forEach(function (filterProperty) {
                            if (item[filterProperty].toUpperCase().indexOf(this.$root.searchInput.toUpperCase()) > -1) {
                                itemHasMatch = true;
                            }
                        }.bind(this));
                        if (itemHasMatch) {
                            filteredItems.push(item);
                        }
                    }.bind(this))
                } else {
                    filteredItems = this.items.containeditems;
                }
                return filteredItems;
            }
        },
        methods: {
            getItems: function () {
                var itemsPerRequest = 10;
                var offsetParameter = this.numberOfVisibleItems ? "&offset=" + this.numberOfVisibleItems : "";
                var organizationNameParameter = '?owner=' + this.$root.OrganizationName;
                var environmentParameter = this.$root.Environment;

                var apiURL = this.loadAllApiData
                    ? "https://register." + environmentParameter + "geonorge.no/api/varsler" + organizationNameParameter
                    : "https://register." + environmentParameter + "geonorge.no/api/varsler" + organizationNameParameter + "&limit=" + itemsPerRequest + offsetParameter;

                this.loadingData = true;
                Promise.resolve(this.$root.getApiData(apiURL))
                    .then((apiData) => {
                        this.loadingData = false;
                        if (!this.items || this.loadAllApiData) {
                            this.items = apiData;
                        } else {
                            this.items.containeditems = this.items.containeditems.concat(apiData.containeditems);
                        }
                        this.numberOfVisibleItems += itemsPerRequest;
                    });
            },
            formatDate: function (date) {
                if (date) {
                    return moment(date).format('DD.MM.YYYY');
                }
            },
            getCounter: function () {
                return this.loadAllApiData && this.$root.searchInput ? this.filteredItems.length : this.items.ContainedItemsResult.Total;
            }
        },
        mounted: function () {
            this.getItems();
        },
        watch: {
            loadAllApiData: function () {
                this.getItems();
            }
        }
    };
</script>
