@using Microsoft.AspNetCore.Http;
@using Geonorge.MinSide.Contstants; 
@model Geonorge.MinSide.Infrastructure.Context.Document

@{
    ViewData["Title"] = "Create";

    var subDistributionAgreementDocumentType = Html.Raw(DocumentType.GeonorgeDeldistribusjonsavtale);
    var showDocumentName = Model.Type == DocumentType.GeonorgeDeldistribusjonsavtale;
}
<div class="container">
    <h2>Ny avtale</h2>
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="OrganizationNumber" type="hidden" value="@Context.Session.GetString("OrganizationNumber")" class="form-control" />

                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    @{var Types = new SelectList(CodeList.DocumentTypes, "Key", "Value", Model.Type);}
                    <select name="Type" class="form-control" asp-items="Types"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group" style="@(showDocumentName ? "display: block" : "display: none")">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FileName"></label>
                    <input name="file" asp-for="FileName" type="file">
                    <span asp-validation-for="FileName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    @{
                        var Statuses = new SelectList(CodeList.DocumentStatus, "Key", "Value");
                    }
                    <select name="Status" class="form-control" asp-items="Statuses"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Opprett" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Tilbake</a>
    </div>
</div>

<script>
    const subDistributionAgreementDocumentType = '@subDistributionAgreementDocumentType';
    const documentTypeSelectElement = document.querySelector('select[name="Type"]');
    const documentNameFormGroupElement = document.querySelector('#Name').parentElement;

    documentTypeSelectElement.addEventListener('change', (event) => {
        const display = event.target.value === subDistributionAgreementDocumentType ? 'block' : 'none';
        documentNameFormGroupElement.style.display = display;
    });
</script>

