@using Geonorge.MinSide.Services.Authorization;
@using Kartverket.Geonorge.Utilities.LogEntry;
@model List<LogEntry>
@{
    ViewData["Title"] = "Admin";
}
<div class="container">
    <h2>Admin</h2>
    <form asp-action="Edit">
        @{
            var Organizations = new SelectList(CodeList.Organizations, "Key", "Value");
        }

        <label>Vis data for organisasjon: </label>
        <select onchange="this.submit();" name="selectedOrganizationNumber" asp-items="Organizations">
            <option>Velg</option>
        </select>
        <input type="submit" value="Vis" class="btn btn-default" />
    </form>
    <b>Logg:</b>
    <table border="1" width="100%">
        <tr><th>Date</th><th>User</th><th>Description</th></tr>
        @foreach (var log in Model)
        {
        <tr>
            <td>@log.DateTime</td>
            <td>@log.User</td>
            <td>@Html.Raw(log.Description)</td>
        </tr>
        }
    </table>
</div>
